
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" width="device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
	
<h2>This is static text from the Base file #1, Dynamic Block Head is below:</h2>
{% block head %}
{% endblock %}

<h2>This is static text from the Base file #2, Dynamic Body Block is below:</h2>
{% block body %}
{% endblock %}
	
</body>
</html>
