{% extends 'base.html' %}


{% block head %}
<h1>#1 - Sample h1 text in header of INDEX file.</h1>
{% endblock %}

{% block body %}
<p>#3 - Sample Form Action</p>


<form action="/success">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br><br>
  <input type="submit" value="Submit">
</form> 

{% endblock %}


<!DOCTYPE HTML>


<html>
	<head>
		<title>SBM FlaskApp</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}">
	</head>

	{% block head %}
	<h1>#1 - Sample h1 text in header of INDEX file.</h1>
	{% endblock %}
	
	<body>

		<!-- Header -->
			<header id="header">
				<a href="index.html" class="logo"><strong>MuldoonAds</strong> FlaskApp</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="generic.html">Generic</a></li>
					<li><a href="elements.html">Elements</a></li>
				</ul>
			</nav>

		<!-- Main -->
			<section id="main">
				<div class="inner">
				
					<div class="12u$"><span class="image fit"><img src="images/pic11.jpg" alt="" /></span></div>
					

					<header>
						<h1>MuldoonAds Intranet</h1>
						<p class="table"><a href="#">Sean Muldoon</a></p>
					</header>		
				</div>
		
				<div class="inner">
					<h3>MuldoonAds Intranet - Sitemap</h3>
					
					<div class="table-wrapper">

						{% block body %}
						<!-- <p>#3 - Sample Form Action</p> -->
						<!-- <form action="/success">
						  <label for="fname">First name:</label><br>
						  <input type="text" id="fname" name="fname" value="John"><br>
						  <label for="lname">Last name:</label><br>
						  <input type="text" id="lname" name="lname" value="Doe"><br><br>
						  <input type="submit" value="Submit">
						</form>  -->
						{% endblock %}
						
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
				</ul>
				<div class="copyright">
					&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>






